@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	src: url('../assets/iosevka-thin.woff2') format('woff2'), url('../assets/iosevka-thin.woff') format('woff'), url('../assets/iosevka-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: italic;
	src: url('../assets/iosevka-thinitalic.woff2') format('woff2'), url('../assets/iosevka-thinitalic.woff') format('woff'), url('../assets/iosevka-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 100;
	font-style: oblique;
	src: url('../assets/iosevka-thinoblique.woff2') format('woff2'), url('../assets/iosevka-thinoblique.woff') format('woff'), url('../assets/iosevka-thinoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	src: url('../assets/iosevka-extralight.woff2') format('woff2'), url('../assets/iosevka-extralight.woff') format('woff'), url('../assets/iosevka-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: italic;
	src: url('../assets/iosevka-extralightitalic.woff2') format('woff2'), url('../assets/iosevka-extralightitalic.woff') format('woff'), url('../assets/iosevka-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 200;
	font-style: oblique;
	src: url('../assets/iosevka-extralightoblique.woff2') format('woff2'), url('../assets/iosevka-extralightoblique.woff') format('woff'), url('../assets/iosevka-extralightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	src: url('../assets/iosevka-light.woff2') format('woff2'), url('../assets/iosevka-light.woff') format('woff'), url('../assets/iosevka-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: italic;
	src: url('../assets/iosevka-lightitalic.woff2') format('woff2'), url('../assets/iosevka-lightitalic.woff') format('woff'), url('../assets/iosevka-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 300;
	font-style: oblique;
	src: url('../assets/iosevka-lightoblique.woff2') format('woff2'), url('../assets/iosevka-lightoblique.woff') format('woff'), url('../assets/iosevka-lightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	src: url('../assets/iosevka-regular.woff2') format('woff2'), url('../assets/iosevka-regular.woff') format('woff'), url('../assets/iosevka-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	src: url('../assets/iosevka-italic.woff2') format('woff2'), url('../assets/iosevka-italic.woff') format('woff'), url('../assets/iosevka-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	src: url('../assets/iosevka-oblique.woff2') format('woff2'), url('../assets/iosevka-oblique.woff') format('woff'), url('../assets/iosevka-oblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 500;
	src: url('../assets/iosevka-medium.woff2') format('woff2'), url('../assets/iosevka-medium.woff') format('woff'), url('../assets/iosevka-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 500;
	src: url('../assets/iosevka-mediumitalic.woff2') format('woff2'), url('../assets/iosevka-mediumitalic.woff') format('woff'), url('../assets/iosevka-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 500;
	src: url('../assets/iosevka-mediumoblique.woff2') format('woff2'), url('../assets/iosevka-mediumoblique.woff') format('woff'), url('../assets/iosevka-mediumoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 700;
	src: url('../assets/iosevka-bold.woff2') format('woff2'), url('../assets/iosevka-bold.woff') format('woff'), url('../assets/iosevka-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 700;
	src: url('../assets/iosevka-bolditalic.woff2') format('woff2'), url('../assets/iosevka-bolditalic.woff') format('woff'), url('../assets/iosevka-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 700;
	src: url('../assets/iosevka-boldoblique.woff2') format('woff2'), url('../assets/iosevka-boldoblique.woff') format('woff'), url('../assets/iosevka-boldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-weight: 900;
	src: url('../assets/iosevka-heavy.woff2') format('woff2'), url('../assets/iosevka-heavy.woff') format('woff'), url('../assets/iosevka-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: italic;
	font-weight: 900;
	src: url('../assets/iosevka-heavyitalic.woff2') format('woff2'), url('../assets/iosevka-heavyitalic.woff') format('woff'), url('../assets/iosevka-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaWEB;
	font-style: oblique;
	font-weight: 900;
	src: url('../assets/iosevka-heavyoblique.woff2') format('woff2'), url('../assets/iosevka-heavyoblique.woff') format('woff'), url('../assets/iosevka-heavyoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	src: url('../assets/iosevka-slab-thin.woff2') format('woff2'), url('../assets/iosevka-slab-thin.woff') format('woff'), url('../assets/iosevka-slab-thin.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: italic;
	src: url('../assets/iosevka-slab-thinitalic.woff2') format('woff2'), url('../assets/iosevka-slab-thinitalic.woff') format('woff'), url('../assets/iosevka-slab-thinitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 100;
	font-style: oblique;
	src: url('../assets/iosevka-slab-thinoblique.woff2') format('woff2'), url('../assets/iosevka-slab-thinoblique.woff') format('woff'), url('../assets/iosevka-slab-thinoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	src: url('../assets/iosevka-slab-extralight.woff2') format('woff2'), url('../assets/iosevka-slab-extralight.woff') format('woff'), url('../assets/iosevka-slab-extralight.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: italic;
	src: url('../assets/iosevka-slab-extralightitalic.woff2') format('woff2'), url('../assets/iosevka-slab-extralightitalic.woff') format('woff'), url('../assets/iosevka-slab-extralightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 200;
	font-style: oblique;
	src: url('../assets/iosevka-slab-extralightoblique.woff2') format('woff2'), url('../assets/iosevka-slab-extralightoblique.woff') format('woff'), url('../assets/iosevka-slab-extralightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	src: url('../assets/iosevka-slab-light.woff2') format('woff2'), url('../assets/iosevka-slab-light.woff') format('woff'), url('../assets/iosevka-slab-light.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: italic;
	src: url('../assets/iosevka-slab-lightitalic.woff2') format('woff2'), url('../assets/iosevka-slab-lightitalic.woff') format('woff'), url('../assets/iosevka-slab-lightitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 300;
	font-style: oblique;
	src: url('../assets/iosevka-slab-lightoblique.woff2') format('woff2'), url('../assets/iosevka-slab-lightoblique.woff') format('woff'), url('../assets/iosevka-slab-lightoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	src: url('../assets/iosevka-slab-regular.woff2') format('woff2'), url('../assets/iosevka-slab-regular.woff') format('woff'), url('../assets/iosevka-slab-regular.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	src: url('../assets/iosevka-slab-italic.woff2') format('woff2'), url('../assets/iosevka-slab-italic.woff') format('woff'), url('../assets/iosevka-slab-italic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	src: url('../assets/iosevka-slab-oblique.woff2') format('woff2'), url('../assets/iosevka-slab-oblique.woff') format('woff'), url('../assets/iosevka-slab-oblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 500;
	src: url('../assets/iosevka-slab-medium.woff2') format('woff2'), url('../assets/iosevka-slab-medium.woff') format('woff'), url('../assets/iosevka-slab-medium.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 500;
	src: url('../assets/iosevka-slab-mediumitalic.woff2') format('woff2'), url('../assets/iosevka-slab-mediumitalic.woff') format('woff'), url('../assets/iosevka-slab-mediumitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 500;
	src: url('../assets/iosevka-slab-mediumoblique.woff2') format('woff2'), url('../assets/iosevka-slab-mediumoblique.woff') format('woff'), url('../assets/iosevka-slab-mediumoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 700;
	src: url('../assets/iosevka-slab-bold.woff2') format('woff2'), url('../assets/iosevka-slab-bold.woff') format('woff'), url('../assets/iosevka-slab-bold.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 700;
	src: url('../assets/iosevka-slab-bolditalic.woff2') format('woff2'), url('../assets/iosevka-slab-bolditalic.woff') format('woff'), url('../assets/iosevka-slab-bolditalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 700;
	src: url('../assets/iosevka-slab-boldoblique.woff2') format('woff2'), url('../assets/iosevka-slab-boldoblique.woff') format('woff'), url('../assets/iosevka-slab-boldoblique.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-weight: 900;
	src: url('../assets/iosevka-slab-heavy.woff2') format('woff2'), url('../assets/iosevka-slab-heavy.woff') format('woff'), url('../assets/iosevka-slab-heavy.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: italic;
	font-weight: 900;
	src: url('../assets/iosevka-slab-heavyitalic.woff2') format('woff2'), url('../assets/iosevka-slab-heavyitalic.woff') format('woff'), url('../assets/iosevka-slab-heavyitalic.ttf') format('truetype');
}
@font-face {
	font-family: IosevkaSlabWEB;
	font-style: oblique;
	font-weight: 900;
	src: url('../assets/iosevka-slab-heavyoblique.woff2') format('woff2'), url('../assets/iosevka-slab-heavyoblique.woff') format('woff'), url('../assets/iosevka-slab-heavyoblique.ttf') format('truetype');
}

.thin       { font-weight: 100 }
.extralight { font-weight: 200 }
.light      { font-weight: 300 }
.medium     { font-weight: 500 }
.bold       { font-weight: 700 }
.extrabold  { font-weight: 800 }
.heavy      { font-weight: 900 }
.italic     { font-style: italic }
.oblique    { font-style: oblique }
.slab { font-family: "IosevkaSlabWEB", monospace }